:root{
    --sidebar-width: 280px;
}

*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
}

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    min-height: fit-content;
    height: 100%;
    overflow: auto;
}

.main-section{
    margin-left: var(--sidebar-width);
}

.login-wrapper{
    max-width: 450px;
}